* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: burlywood;
}

.encabezado .navbar-expand-lg {
  display: flex;
  flex-direction: column;
  height: 20%;
  width: 100%;
  background-image: url(../images/backgroundheader.jpg)!important; 
  background-size: 100%;

}

.encabezado nav ul li a {
  text-decoration: none;
  color: rgb(172, 27, 128);
  font-size: 20px;
  margin-left: 55px;
}

.encabezado nav ul li a:hover {
  background-color: aliceblue;
  box-shadow: 6px 6px 10px black;
} 

.encabezado nav ul li a:visited {
  color: aqua;
}

.navbar-brand img {
  width: 30%;
  height: 30%;
}

.empresa {
  color: rgb(79, 8, 146);
  margin-left: 20px;
}

nav ul li {

  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
}

.contenedor-images {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  display:flex;
  margin: 10px auto;

}

.contenedor-images img {
  width: 100%;
  height: 100%;
}
.card-subtitle {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: blueviolet;
}


@media (max-width:425px) {
    .contenedor-images img {
    flex-direction: column;
  }
}

.profesores {
  width: 600px;
  height: 600px;
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid blueviolet;
  background-color: rgb(216, 169, 153);
  margin: 0 auto;
  margin-top: 20px;
  position: relative;
}

.profesores img {
  width: 400px;
  height: 400px;
}

.profesores p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

.contenedor-cursos {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: grid;
  margin: 10px auto;
  align-items: center;
  grid-template-columns: repeat(3, 1fr) ;
  grid-template-rows: repeat(3, 1fr);

}

.contenedor-cursos img{
  width: 100%;
  height: 100%;
  border: 1px black;
}

.modalidades {
  width: 600px;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid blueviolet;
  background-color: rgb(216, 169, 153);
  margin: 0 auto;
  margin-top: 20px;
  position: relative;}

.modalidades img {
  width: 70%;
  height: 70%;
}

.modalidades p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

.contenedor-formulario {
  padding-top: 20px;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.contenedor-formulario .contenido-asunto ul li {
  list-style: none;
}

.contenedor-formulario .contenido-asunto ul li input, li textarea {
  width: 400px;
}

.pie {
  background-color: rgb(225, 217, 233);
  box-sizing: border-box;
  display: flex;
  width: 100%;
  height: 20%;
}

iframe {
  width: 100%;
  height: 100%;
}

.redes a i {
  font-size: 25px;
  text-align: center;
}
